.container{
    display: flex;
    width: 1000px;
    justify-content:space-between;
    align-items:center;
}
.cart{
    background-color: #fff;
    padding:15px;
    border:1px solid #ccc;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-bottom:10px solid green;
    width:300px
}