.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between
}
.cart{
    background-color: #fff;
    padding:15px;
    border:1px solid #ccc;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    width:300px;
    margin: 5px;
}
.infected{
    border-bottom: 10px solid skyblue;
}
.recovered{
    border-bottom: 10px solid rgb(73, 194, 73);
}
.deaths{
    border-bottom: 10px solid rgba(234, 61, 61, 0.941);
}
